// Declare global variables.
// their value will be overriden by the choosen color palette

$primary-color-50: red;
$primary-text-color-50: red;
$primary-color-100: red;
$primary-text-color-100: red;
$primary-color-200: red;
$primary-text-color-200: red;
$primary-color-300: red;
$primary-text-color-300: red;
$primary-color-400: red;
$primary-text-color-400: red;
$primary-color-500: red;
$primary-text-color-500: red;
$primary-color-600: red;
$primary-text-color-600: red;
$primary-color-700: red;
$primary-text-color-700: red;
$primary-color-800: red;
$primary-text-color-800: red;
$primary-color-900: red;
$primary-text-color-900: red;
$primary-color-A100: red;
$primary-text-color-A100: red;
$primary-color-A200: red;
$primary-text-color-A200: red;
$primary-color-A400: red;
$primary-text-color-A400: red;
$primary-color-A700: red;
$primary-text-color-A700: red;

$accent-color-50: red;
$accent-text-color-50: red;
$accent-color-100: red;
$accent-text-color-100: red;
$accent-color-200: red;
$accent-text-color-200: red;
$accent-color-300: red;
$accent-text-color-300: red;
$accent-color-400: red;
$accent-text-color-400: red;
$accent-color-500: red;
$accent-text-color-500: red;
$accent-color-600: red;
$accent-text-color-600: red;
$accent-color-700: red;
$accent-text-color-700: red;
$accent-color-800: red;
$accent-text-color-800: red;
$accent-color-900: red;
$accent-text-color-900: red;
$accent-color-A100: red;
$accent-text-color-A100: red;
$accent-color-A200: red;
$accent-text-color-A200: red;
$accent-color-A400: red;
$accent-text-color-A400: red;
$accent-color-A700: red;
$accent-text-color-A700: red;

$primary-color: red;
$primary-color-light: red;
$primary-color-lighter: red;
$primary-color-dark: red;
$primary-color-darker: red;

$primary-text-color: red;
$primary-text-color-light: red;
$primary-text-color-lighter: red;
$primary-text-color-dark: red;
$primary-text-color-darker: red;

$accent-color: red;
$accent-color-light: red;
$accent-color-lighter: red;
$accent-color-dark: red;
$accent-color-darker: red;

$accent-text-color: red;
$accent-text-color-light: red;
$accent-text-color-lighter: red;
$accent-text-color-dark: red;
$accent-text-color-darker: red;
