

// Color: red

$red-color-50: #ffebee;
$red-text-color-50: #000000;
$red-color-100: #ffcdd2;
$red-text-color-100: #000000;
$red-color-200: #ef9a9a;
$red-text-color-200: #000000;
$red-color-300: #e57373;
$red-text-color-300: #000000;
$red-color-400: #ef5350;
$red-text-color-400: #000000;
$red-color-500: #f44336;
$red-text-color-500: #FFFFFF;
$red-color-600: #e53935;
$red-text-color-600: #FFFFFF;
$red-color-700: #d32f2f;
$red-text-color-700: #FFFFFF;
$red-color-800: #c62828;
$red-text-color-800: #FFFFFF;
$red-color-900: #b71c1c;
$red-text-color-900: #FFFFFF;
$red-color-A100: #ff8a80;
$red-text-color-A100: #000000;
$red-color-A200: #ff5252;
$red-text-color-A200: #FFFFFF;
$red-color-A400: #ff1744;
$red-text-color-A400: #FFFFFF;
$red-color-A700: #d50000;
$red-text-color-A700: #FFFFFF;
@if $primary-color-name == "red" {
  $primary-color-50: #ffebee;
  $primary-text-color-50: #000000;
  $primary-color-100: #ffcdd2;
  $primary-text-color-100: #000000;
  $primary-color-200: #ef9a9a;
  $primary-text-color-200: #000000;
  $primary-color-300: #e57373;
  $primary-text-color-300: #000000;
  $primary-color-400: #ef5350;
  $primary-text-color-400: #000000;
  $primary-color-500: #f44336;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #e53935;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #d32f2f;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #c62828;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #b71c1c;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ff8a80;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ff5252;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #ff1744;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #d50000;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "red" {
  $accent-color-50: #ffebee;
  $accent-text-color-50: #000000;
  $accent-color-100: #ffcdd2;
  $accent-text-color-100: #000000;
  $accent-color-200: #ef9a9a;
  $accent-text-color-200: #000000;
  $accent-color-300: #e57373;
  $accent-text-color-300: #000000;
  $accent-color-400: #ef5350;
  $accent-text-color-400: #000000;
  $accent-color-500: #f44336;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #e53935;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #d32f2f;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #c62828;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #b71c1c;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ff8a80;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ff5252;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #ff1744;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #d50000;
  $accent-text-color-A700: #FFFFFF;
}


// Color: pink

$pink-color-50: #fce4ec;
$pink-text-color-50: #000000;
$pink-color-100: #f8bbd0;
$pink-text-color-100: #000000;
$pink-color-200: #f48fb1;
$pink-text-color-200: #000000;
$pink-color-300: #f06292;
$pink-text-color-300: #000000;
$pink-color-400: #ec407a;
$pink-text-color-400: #000000;
$pink-color-500: #e91e63;
$pink-text-color-500: #FFFFFF;
$pink-color-600: #d81b60;
$pink-text-color-600: #FFFFFF;
$pink-color-700: #c2185b;
$pink-text-color-700: #FFFFFF;
$pink-color-800: #ad1457;
$pink-text-color-800: #FFFFFF;
$pink-color-900: #880e4f;
$pink-text-color-900: #FFFFFF;
$pink-color-A100: #ff80ab;
$pink-text-color-A100: #000000;
$pink-color-A200: #ff4081;
$pink-text-color-A200: #FFFFFF;
$pink-color-A400: #f50057;
$pink-text-color-A400: #FFFFFF;
$pink-color-A700: #c51162;
$pink-text-color-A700: #FFFFFF;
@if $primary-color-name == "pink" {
  $primary-color-50: #fce4ec;
  $primary-text-color-50: #000000;
  $primary-color-100: #f8bbd0;
  $primary-text-color-100: #000000;
  $primary-color-200: #f48fb1;
  $primary-text-color-200: #000000;
  $primary-color-300: #f06292;
  $primary-text-color-300: #000000;
  $primary-color-400: #ec407a;
  $primary-text-color-400: #000000;
  $primary-color-500: #e91e63;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #d81b60;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #c2185b;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #ad1457;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #880e4f;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ff80ab;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ff4081;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #f50057;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #c51162;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "pink" {
  $accent-color-50: #fce4ec;
  $accent-text-color-50: #000000;
  $accent-color-100: #f8bbd0;
  $accent-text-color-100: #000000;
  $accent-color-200: #f48fb1;
  $accent-text-color-200: #000000;
  $accent-color-300: #f06292;
  $accent-text-color-300: #000000;
  $accent-color-400: #ec407a;
  $accent-text-color-400: #000000;
  $accent-color-500: #e91e63;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #d81b60;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #c2185b;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #ad1457;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #880e4f;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ff80ab;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ff4081;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #f50057;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #c51162;
  $accent-text-color-A700: #FFFFFF;
}


// Color: purple

$purple-color-50: #f3e5f5;
$purple-text-color-50: #000000;
$purple-color-100: #e1bee7;
$purple-text-color-100: #000000;
$purple-color-200: #ce93d8;
$purple-text-color-200: #000000;
$purple-color-300: #ba68c8;
$purple-text-color-300: #FFFFFF;
$purple-color-400: #ab47bc;
$purple-text-color-400: #FFFFFF;
$purple-color-500: #9c27b0;
$purple-text-color-500: #FFFFFF;
$purple-color-600: #8e24aa;
$purple-text-color-600: #FFFFFF;
$purple-color-700: #7b1fa2;
$purple-text-color-700: #FFFFFF;
$purple-color-800: #6a1b9a;
$purple-text-color-800: #FFFFFF;
$purple-color-900: #4a148c;
$purple-text-color-900: #FFFFFF;
$purple-color-A100: #ea80fc;
$purple-text-color-A100: #000000;
$purple-color-A200: #e040fb;
$purple-text-color-A200: #FFFFFF;
$purple-color-A400: #d500f9;
$purple-text-color-A400: #FFFFFF;
$purple-color-A700: #aa00ff;
$purple-text-color-A700: #FFFFFF;
@if $primary-color-name == "purple" {
  $primary-color-50: #f3e5f5;
  $primary-text-color-50: #000000;
  $primary-color-100: #e1bee7;
  $primary-text-color-100: #000000;
  $primary-color-200: #ce93d8;
  $primary-text-color-200: #000000;
  $primary-color-300: #ba68c8;
  $primary-text-color-300: #FFFFFF;
  $primary-color-400: #ab47bc;
  $primary-text-color-400: #FFFFFF;
  $primary-color-500: #9c27b0;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #8e24aa;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #7b1fa2;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #6a1b9a;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #4a148c;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ea80fc;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #e040fb;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #d500f9;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #aa00ff;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "purple" {
  $accent-color-50: #f3e5f5;
  $accent-text-color-50: #000000;
  $accent-color-100: #e1bee7;
  $accent-text-color-100: #000000;
  $accent-color-200: #ce93d8;
  $accent-text-color-200: #000000;
  $accent-color-300: #ba68c8;
  $accent-text-color-300: #FFFFFF;
  $accent-color-400: #ab47bc;
  $accent-text-color-400: #FFFFFF;
  $accent-color-500: #9c27b0;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #8e24aa;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #7b1fa2;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #6a1b9a;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #4a148c;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ea80fc;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #e040fb;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #d500f9;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #aa00ff;
  $accent-text-color-A700: #FFFFFF;
}


// Color: deeppurple

$deeppurple-color-50: #ede7f6;
$deeppurple-text-color-50: #000000;
$deeppurple-color-100: #d1c4e9;
$deeppurple-text-color-100: #000000;
$deeppurple-color-200: #b39ddb;
$deeppurple-text-color-200: #000000;
$deeppurple-color-300: #9575cd;
$deeppurple-text-color-300: #FFFFFF;
$deeppurple-color-400: #7e57c2;
$deeppurple-text-color-400: #FFFFFF;
$deeppurple-color-500: #673ab7;
$deeppurple-text-color-500: #FFFFFF;
$deeppurple-color-600: #5e35b1;
$deeppurple-text-color-600: #FFFFFF;
$deeppurple-color-700: #512da8;
$deeppurple-text-color-700: #FFFFFF;
$deeppurple-color-800: #4527a0;
$deeppurple-text-color-800: #FFFFFF;
$deeppurple-color-900: #311b92;
$deeppurple-text-color-900: #FFFFFF;
$deeppurple-color-A100: #b388ff;
$deeppurple-text-color-A100: #000000;
$deeppurple-color-A200: #7c4dff;
$deeppurple-text-color-A200: #FFFFFF;
$deeppurple-color-A400: #651fff;
$deeppurple-text-color-A400: #FFFFFF;
$deeppurple-color-A700: #6200ea;
$deeppurple-text-color-A700: #FFFFFF;
@if $primary-color-name == "deeppurple" {
  $primary-color-50: #ede7f6;
  $primary-text-color-50: #000000;
  $primary-color-100: #d1c4e9;
  $primary-text-color-100: #000000;
  $primary-color-200: #b39ddb;
  $primary-text-color-200: #000000;
  $primary-color-300: #9575cd;
  $primary-text-color-300: #FFFFFF;
  $primary-color-400: #7e57c2;
  $primary-text-color-400: #FFFFFF;
  $primary-color-500: #673ab7;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #5e35b1;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #512da8;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #4527a0;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #311b92;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #b388ff;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #7c4dff;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #651fff;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #6200ea;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "deeppurple" {
  $accent-color-50: #ede7f6;
  $accent-text-color-50: #000000;
  $accent-color-100: #d1c4e9;
  $accent-text-color-100: #000000;
  $accent-color-200: #b39ddb;
  $accent-text-color-200: #000000;
  $accent-color-300: #9575cd;
  $accent-text-color-300: #FFFFFF;
  $accent-color-400: #7e57c2;
  $accent-text-color-400: #FFFFFF;
  $accent-color-500: #673ab7;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #5e35b1;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #512da8;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #4527a0;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #311b92;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #b388ff;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #7c4dff;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #651fff;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #6200ea;
  $accent-text-color-A700: #FFFFFF;
}


// Color: indigo

$indigo-color-50: #e8eaf6;
$indigo-text-color-50: #000000;
$indigo-color-100: #c5cae9;
$indigo-text-color-100: #000000;
$indigo-color-200: #9fa8da;
$indigo-text-color-200: #000000;
$indigo-color-300: #7986cb;
$indigo-text-color-300: #FFFFFF;
$indigo-color-400: #5c6bc0;
$indigo-text-color-400: #FFFFFF;
$indigo-color-500: #3f51b5;
$indigo-text-color-500: #FFFFFF;
$indigo-color-600: #3949ab;
$indigo-text-color-600: #FFFFFF;
$indigo-color-700: #303f9f;
$indigo-text-color-700: #FFFFFF;
$indigo-color-800: #283593;
$indigo-text-color-800: #FFFFFF;
$indigo-color-900: #1a237e;
$indigo-text-color-900: #FFFFFF;
$indigo-color-A100: #8c9eff;
$indigo-text-color-A100: #000000;
$indigo-color-A200: #536dfe;
$indigo-text-color-A200: #FFFFFF;
$indigo-color-A400: #3d5afe;
$indigo-text-color-A400: #FFFFFF;
$indigo-color-A700: #304ffe;
$indigo-text-color-A700: #FFFFFF;
@if $primary-color-name == "indigo" {
  $primary-color-50: #e8eaf6;
  $primary-text-color-50: #000000;
  $primary-color-100: #c5cae9;
  $primary-text-color-100: #000000;
  $primary-color-200: #9fa8da;
  $primary-text-color-200: #000000;
  $primary-color-300: #7986cb;
  $primary-text-color-300: #FFFFFF;
  $primary-color-400: #5c6bc0;
  $primary-text-color-400: #FFFFFF;
  $primary-color-500: #3f51b5;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #3949ab;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #303f9f;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #283593;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #1a237e;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #8c9eff;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #536dfe;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #3d5afe;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #304ffe;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "indigo" {
  $accent-color-50: #e8eaf6;
  $accent-text-color-50: #000000;
  $accent-color-100: #c5cae9;
  $accent-text-color-100: #000000;
  $accent-color-200: #9fa8da;
  $accent-text-color-200: #000000;
  $accent-color-300: #7986cb;
  $accent-text-color-300: #FFFFFF;
  $accent-color-400: #5c6bc0;
  $accent-text-color-400: #FFFFFF;
  $accent-color-500: #3f51b5;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #3949ab;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #303f9f;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #283593;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #1a237e;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #8c9eff;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #536dfe;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #3d5afe;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #304ffe;
  $accent-text-color-A700: #FFFFFF;
}


// Color: blue

$blue-color-50: #e3f2fd;
$blue-text-color-50: #000000;
$blue-color-100: #bbdefb;
$blue-text-color-100: #000000;
$blue-color-200: #90caf9;
$blue-text-color-200: #000000;
$blue-color-300: #64b5f6;
$blue-text-color-300: #000000;
$blue-color-400: #42a5f5;
$blue-text-color-400: #000000;
$blue-color-500: #2196f3;
$blue-text-color-500: #FFFFFF;
$blue-color-600: #1e88e5;
$blue-text-color-600: #FFFFFF;
$blue-color-700: #1976d2;
$blue-text-color-700: #FFFFFF;
$blue-color-800: #1565c0;
$blue-text-color-800: #FFFFFF;
$blue-color-900: #0d47a1;
$blue-text-color-900: #FFFFFF;
$blue-color-A100: #82b1ff;
$blue-text-color-A100: #000000;
$blue-color-A200: #448aff;
$blue-text-color-A200: #FFFFFF;
$blue-color-A400: #2979ff;
$blue-text-color-A400: #FFFFFF;
$blue-color-A700: #2962ff;
$blue-text-color-A700: #FFFFFF;
@if $primary-color-name == "blue" {
  $primary-color-50: #e3f2fd;
  $primary-text-color-50: #000000;
  $primary-color-100: #bbdefb;
  $primary-text-color-100: #000000;
  $primary-color-200: #90caf9;
  $primary-text-color-200: #000000;
  $primary-color-300: #64b5f6;
  $primary-text-color-300: #000000;
  $primary-color-400: #42a5f5;
  $primary-text-color-400: #000000;
  $primary-color-500: #2196f3;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #1e88e5;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #1976d2;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #1565c0;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #0d47a1;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #82b1ff;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #448aff;
  $primary-text-color-A200: #FFFFFF;
  $primary-color-A400: #2979ff;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #2962ff;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "blue" {
  $accent-color-50: #e3f2fd;
  $accent-text-color-50: #000000;
  $accent-color-100: #bbdefb;
  $accent-text-color-100: #000000;
  $accent-color-200: #90caf9;
  $accent-text-color-200: #000000;
  $accent-color-300: #64b5f6;
  $accent-text-color-300: #000000;
  $accent-color-400: #42a5f5;
  $accent-text-color-400: #000000;
  $accent-color-500: #2196f3;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #1e88e5;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #1976d2;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #1565c0;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #0d47a1;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #82b1ff;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #448aff;
  $accent-text-color-A200: #FFFFFF;
  $accent-color-A400: #2979ff;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #2962ff;
  $accent-text-color-A700: #FFFFFF;
}


// Color: lightblue

$lightblue-color-50: #e1f5fe;
$lightblue-text-color-50: #000000;
$lightblue-color-100: #b3e5fc;
$lightblue-text-color-100: #000000;
$lightblue-color-200: #81d4fa;
$lightblue-text-color-200: #000000;
$lightblue-color-300: #4fc3f7;
$lightblue-text-color-300: #000000;
$lightblue-color-400: #29b6f6;
$lightblue-text-color-400: #000000;
$lightblue-color-500: #03a9f4;
$lightblue-text-color-500: #FFFFFF;
$lightblue-color-600: #039be5;
$lightblue-text-color-600: #FFFFFF;
$lightblue-color-700: #0288d1;
$lightblue-text-color-700: #FFFFFF;
$lightblue-color-800: #0277bd;
$lightblue-text-color-800: #FFFFFF;
$lightblue-color-900: #01579b;
$lightblue-text-color-900: #FFFFFF;
$lightblue-color-A100: #80d8ff;
$lightblue-text-color-A100: #000000;
$lightblue-color-A200: #40c4ff;
$lightblue-text-color-A200: #000000;
$lightblue-color-A400: #00b0ff;
$lightblue-text-color-A400: #000000;
$lightblue-color-A700: #0091ea;
$lightblue-text-color-A700: #FFFFFF;
@if $primary-color-name == "lightblue" {
  $primary-color-50: #e1f5fe;
  $primary-text-color-50: #000000;
  $primary-color-100: #b3e5fc;
  $primary-text-color-100: #000000;
  $primary-color-200: #81d4fa;
  $primary-text-color-200: #000000;
  $primary-color-300: #4fc3f7;
  $primary-text-color-300: #000000;
  $primary-color-400: #29b6f6;
  $primary-text-color-400: #000000;
  $primary-color-500: #03a9f4;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #039be5;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #0288d1;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #0277bd;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #01579b;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #80d8ff;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #40c4ff;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #00b0ff;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #0091ea;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "lightblue" {
  $accent-color-50: #e1f5fe;
  $accent-text-color-50: #000000;
  $accent-color-100: #b3e5fc;
  $accent-text-color-100: #000000;
  $accent-color-200: #81d4fa;
  $accent-text-color-200: #000000;
  $accent-color-300: #4fc3f7;
  $accent-text-color-300: #000000;
  $accent-color-400: #29b6f6;
  $accent-text-color-400: #000000;
  $accent-color-500: #03a9f4;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #039be5;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #0288d1;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #0277bd;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #01579b;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #80d8ff;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #40c4ff;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #00b0ff;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #0091ea;
  $accent-text-color-A700: #FFFFFF;
}


// Color: cyan

$cyan-color-50: #e0f7fa;
$cyan-text-color-50: #000000;
$cyan-color-100: #b2ebf2;
$cyan-text-color-100: #000000;
$cyan-color-200: #80deea;
$cyan-text-color-200: #000000;
$cyan-color-300: #4dd0e1;
$cyan-text-color-300: #000000;
$cyan-color-400: #26c6da;
$cyan-text-color-400: #000000;
$cyan-color-500: #00bcd4;
$cyan-text-color-500: #FFFFFF;
$cyan-color-600: #00acc1;
$cyan-text-color-600: #FFFFFF;
$cyan-color-700: #0097a7;
$cyan-text-color-700: #FFFFFF;
$cyan-color-800: #00838f;
$cyan-text-color-800: #FFFFFF;
$cyan-color-900: #006064;
$cyan-text-color-900: #FFFFFF;
$cyan-color-A100: #84ffff;
$cyan-text-color-A100: #000000;
$cyan-color-A200: #18ffff;
$cyan-text-color-A200: #000000;
$cyan-color-A400: #00e5ff;
$cyan-text-color-A400: #000000;
$cyan-color-A700: #00b8d4;
$cyan-text-color-A700: #000000;
@if $primary-color-name == "cyan" {
  $primary-color-50: #e0f7fa;
  $primary-text-color-50: #000000;
  $primary-color-100: #b2ebf2;
  $primary-text-color-100: #000000;
  $primary-color-200: #80deea;
  $primary-text-color-200: #000000;
  $primary-color-300: #4dd0e1;
  $primary-text-color-300: #000000;
  $primary-color-400: #26c6da;
  $primary-text-color-400: #000000;
  $primary-color-500: #00bcd4;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #00acc1;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #0097a7;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #00838f;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #006064;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #84ffff;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #18ffff;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #00e5ff;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #00b8d4;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "cyan" {
  $accent-color-50: #e0f7fa;
  $accent-text-color-50: #000000;
  $accent-color-100: #b2ebf2;
  $accent-text-color-100: #000000;
  $accent-color-200: #80deea;
  $accent-text-color-200: #000000;
  $accent-color-300: #4dd0e1;
  $accent-text-color-300: #000000;
  $accent-color-400: #26c6da;
  $accent-text-color-400: #000000;
  $accent-color-500: #00bcd4;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #00acc1;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #0097a7;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #00838f;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #006064;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #84ffff;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #18ffff;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #00e5ff;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #00b8d4;
  $accent-text-color-A700: #000000;
}


// Color: teal

$teal-color-50: #e0f2f1;
$teal-text-color-50: #000000;
$teal-color-100: #b2dfdb;
$teal-text-color-100: #000000;
$teal-color-200: #80cbc4;
$teal-text-color-200: #000000;
$teal-color-300: #4db6ac;
$teal-text-color-300: #000000;
$teal-color-400: #26a69a;
$teal-text-color-400: #000000;
$teal-color-500: #009688;
$teal-text-color-500: #FFFFFF;
$teal-color-600: #00897b;
$teal-text-color-600: #FFFFFF;
$teal-color-700: #00796b;
$teal-text-color-700: #FFFFFF;
$teal-color-800: #00695c;
$teal-text-color-800: #FFFFFF;
$teal-color-900: #004d40;
$teal-text-color-900: #FFFFFF;
$teal-color-A100: #a7ffeb;
$teal-text-color-A100: #000000;
$teal-color-A200: #64ffda;
$teal-text-color-A200: #000000;
$teal-color-A400: #1de9b6;
$teal-text-color-A400: #000000;
$teal-color-A700: #00bfa5;
$teal-text-color-A700: #000000;
@if $primary-color-name == "teal" {
  $primary-color-50: #e0f2f1;
  $primary-text-color-50: #000000;
  $primary-color-100: #b2dfdb;
  $primary-text-color-100: #000000;
  $primary-color-200: #80cbc4;
  $primary-text-color-200: #000000;
  $primary-color-300: #4db6ac;
  $primary-text-color-300: #000000;
  $primary-color-400: #26a69a;
  $primary-text-color-400: #000000;
  $primary-color-500: #009688;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #00897b;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #00796b;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #00695c;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #004d40;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #a7ffeb;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #64ffda;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #1de9b6;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #00bfa5;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "teal" {
  $accent-color-50: #e0f2f1;
  $accent-text-color-50: #000000;
  $accent-color-100: #b2dfdb;
  $accent-text-color-100: #000000;
  $accent-color-200: #80cbc4;
  $accent-text-color-200: #000000;
  $accent-color-300: #4db6ac;
  $accent-text-color-300: #000000;
  $accent-color-400: #26a69a;
  $accent-text-color-400: #000000;
  $accent-color-500: #009688;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #00897b;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #00796b;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #00695c;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #004d40;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #a7ffeb;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #64ffda;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #1de9b6;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #00bfa5;
  $accent-text-color-A700: #000000;
}


// Color: green

$green-color-50: #e8f5e9;
$green-text-color-50: #000000;
$green-color-100: #c8e6c9;
$green-text-color-100: #000000;
$green-color-200: #a5d6a7;
$green-text-color-200: #000000;
$green-color-300: #81c784;
$green-text-color-300: #000000;
$green-color-400: #66bb6a;
$green-text-color-400: #000000;
$green-color-500: #4caf50;
$green-text-color-500: #FFFFFF;
$green-color-600: #43a047;
$green-text-color-600: #FFFFFF;
$green-color-700: #388e3c;
$green-text-color-700: #FFFFFF;
$green-color-800: #2e7d32;
$green-text-color-800: #FFFFFF;
$green-color-900: #1b5e20;
$green-text-color-900: #FFFFFF;
$green-color-A100: #b9f6ca;
$green-text-color-A100: #000000;
$green-color-A200: #69f0ae;
$green-text-color-A200: #000000;
$green-color-A400: #00e676;
$green-text-color-A400: #000000;
$green-color-A700: #00c853;
$green-text-color-A700: #000000;
@if $primary-color-name == "green" {
  $primary-color-50: #e8f5e9;
  $primary-text-color-50: #000000;
  $primary-color-100: #c8e6c9;
  $primary-text-color-100: #000000;
  $primary-color-200: #a5d6a7;
  $primary-text-color-200: #000000;
  $primary-color-300: #81c784;
  $primary-text-color-300: #000000;
  $primary-color-400: #66bb6a;
  $primary-text-color-400: #000000;
  $primary-color-500: #4caf50;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #43a047;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #388e3c;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #2e7d32;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #1b5e20;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #b9f6ca;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #69f0ae;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #00e676;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #00c853;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "green" {
  $accent-color-50: #e8f5e9;
  $accent-text-color-50: #000000;
  $accent-color-100: #c8e6c9;
  $accent-text-color-100: #000000;
  $accent-color-200: #a5d6a7;
  $accent-text-color-200: #000000;
  $accent-color-300: #81c784;
  $accent-text-color-300: #000000;
  $accent-color-400: #66bb6a;
  $accent-text-color-400: #000000;
  $accent-color-500: #4caf50;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #43a047;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #388e3c;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #2e7d32;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #1b5e20;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #b9f6ca;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #69f0ae;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #00e676;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #00c853;
  $accent-text-color-A700: #000000;
}


// Color: lightgreen

$lightgreen-color-50: #f1f8e9;
$lightgreen-text-color-50: #000000;
$lightgreen-color-100: #dcedc8;
$lightgreen-text-color-100: #000000;
$lightgreen-color-200: #c5e1a5;
$lightgreen-text-color-200: #000000;
$lightgreen-color-300: #aed581;
$lightgreen-text-color-300: #000000;
$lightgreen-color-400: #9ccc65;
$lightgreen-text-color-400: #000000;
$lightgreen-color-500: #8bc34a;
$lightgreen-text-color-500: #FFFFFF;
$lightgreen-color-600: #7cb342;
$lightgreen-text-color-600: #FFFFFF;
$lightgreen-color-700: #689f38;
$lightgreen-text-color-700: #FFFFFF;
$lightgreen-color-800: #558b2f;
$lightgreen-text-color-800: #FFFFFF;
$lightgreen-color-900: #33691e;
$lightgreen-text-color-900: #FFFFFF;
$lightgreen-color-A100: #ccff90;
$lightgreen-text-color-A100: #000000;
$lightgreen-color-A200: #b2ff59;
$lightgreen-text-color-A200: #000000;
$lightgreen-color-A400: #76ff03;
$lightgreen-text-color-A400: #000000;
$lightgreen-color-A700: #64dd17;
$lightgreen-text-color-A700: #000000;
@if $primary-color-name == "lightgreen" {
  $primary-color-50: #f1f8e9;
  $primary-text-color-50: #000000;
  $primary-color-100: #dcedc8;
  $primary-text-color-100: #000000;
  $primary-color-200: #c5e1a5;
  $primary-text-color-200: #000000;
  $primary-color-300: #aed581;
  $primary-text-color-300: #000000;
  $primary-color-400: #9ccc65;
  $primary-text-color-400: #000000;
  $primary-color-500: #8bc34a;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #7cb342;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #689f38;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #558b2f;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #33691e;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ccff90;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #b2ff59;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #76ff03;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #64dd17;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "lightgreen" {
  $accent-color-50: #f1f8e9;
  $accent-text-color-50: #000000;
  $accent-color-100: #dcedc8;
  $accent-text-color-100: #000000;
  $accent-color-200: #c5e1a5;
  $accent-text-color-200: #000000;
  $accent-color-300: #aed581;
  $accent-text-color-300: #000000;
  $accent-color-400: #9ccc65;
  $accent-text-color-400: #000000;
  $accent-color-500: #8bc34a;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #7cb342;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #689f38;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #558b2f;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #33691e;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ccff90;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #b2ff59;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #76ff03;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #64dd17;
  $accent-text-color-A700: #000000;
}


// Color: lime

$lime-color-50: #f9fbe7;
$lime-text-color-50: #000000;
$lime-color-100: #f0f4c3;
$lime-text-color-100: #000000;
$lime-color-200: #e6ee9c;
$lime-text-color-200: #000000;
$lime-color-300: #dce775;
$lime-text-color-300: #000000;
$lime-color-400: #d4e157;
$lime-text-color-400: #000000;
$lime-color-500: #cddc39;
$lime-text-color-500: #000000;
$lime-color-600: #c0ca33;
$lime-text-color-600: #000000;
$lime-color-700: #afb42b;
$lime-text-color-700: #FFFFFF;
$lime-color-800: #9e9d24;
$lime-text-color-800: #FFFFFF;
$lime-color-900: #827717;
$lime-text-color-900: #FFFFFF;
$lime-color-A100: #f4ff81;
$lime-text-color-A100: #000000;
$lime-color-A200: #eeff41;
$lime-text-color-A200: #000000;
$lime-color-A400: #c6ff00;
$lime-text-color-A400: #000000;
$lime-color-A700: #aeea00;
$lime-text-color-A700: #000000;
@if $primary-color-name == "lime" {
  $primary-color-50: #f9fbe7;
  $primary-text-color-50: #000000;
  $primary-color-100: #f0f4c3;
  $primary-text-color-100: #000000;
  $primary-color-200: #e6ee9c;
  $primary-text-color-200: #000000;
  $primary-color-300: #dce775;
  $primary-text-color-300: #000000;
  $primary-color-400: #d4e157;
  $primary-text-color-400: #000000;
  $primary-color-500: #cddc39;
  $primary-text-color-500: #000000;
  $primary-color-600: #c0ca33;
  $primary-text-color-600: #000000;
  $primary-color-700: #afb42b;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #9e9d24;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #827717;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #f4ff81;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #eeff41;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #c6ff00;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #aeea00;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "lime" {
  $accent-color-50: #f9fbe7;
  $accent-text-color-50: #000000;
  $accent-color-100: #f0f4c3;
  $accent-text-color-100: #000000;
  $accent-color-200: #e6ee9c;
  $accent-text-color-200: #000000;
  $accent-color-300: #dce775;
  $accent-text-color-300: #000000;
  $accent-color-400: #d4e157;
  $accent-text-color-400: #000000;
  $accent-color-500: #cddc39;
  $accent-text-color-500: #000000;
  $accent-color-600: #c0ca33;
  $accent-text-color-600: #000000;
  $accent-color-700: #afb42b;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #9e9d24;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #827717;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #f4ff81;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #eeff41;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #c6ff00;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #aeea00;
  $accent-text-color-A700: #000000;
}


// Color: yellow

$yellow-color-50: #fffde7;
$yellow-text-color-50: #000000;
$yellow-color-100: #fff9c4;
$yellow-text-color-100: #000000;
$yellow-color-200: #fff59d;
$yellow-text-color-200: #000000;
$yellow-color-300: #fff176;
$yellow-text-color-300: #000000;
$yellow-color-400: #ffee58;
$yellow-text-color-400: #000000;
$yellow-color-500: #ffeb3b;
$yellow-text-color-500: #000000;
$yellow-color-600: #fdd835;
$yellow-text-color-600: #000000;
$yellow-color-700: #fbc02d;
$yellow-text-color-700: #000000;
$yellow-color-800: #f9a825;
$yellow-text-color-800: #000000;
$yellow-color-900: #f57f17;
$yellow-text-color-900: #FFFFFF;
$yellow-color-A100: #ffff8d;
$yellow-text-color-A100: #000000;
$yellow-color-A200: #ffff00;
$yellow-text-color-A200: #000000;
$yellow-color-A400: #ffea00;
$yellow-text-color-A400: #000000;
$yellow-color-A700: #ffd600;
$yellow-text-color-A700: #000000;
@if $primary-color-name == "yellow" {
  $primary-color-50: #fffde7;
  $primary-text-color-50: #000000;
  $primary-color-100: #fff9c4;
  $primary-text-color-100: #000000;
  $primary-color-200: #fff59d;
  $primary-text-color-200: #000000;
  $primary-color-300: #fff176;
  $primary-text-color-300: #000000;
  $primary-color-400: #ffee58;
  $primary-text-color-400: #000000;
  $primary-color-500: #ffeb3b;
  $primary-text-color-500: #000000;
  $primary-color-600: #fdd835;
  $primary-text-color-600: #000000;
  $primary-color-700: #fbc02d;
  $primary-text-color-700: #000000;
  $primary-color-800: #f9a825;
  $primary-text-color-800: #000000;
  $primary-color-900: #f57f17;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ffff8d;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ffff00;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #ffea00;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #ffd600;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "yellow" {
  $accent-color-50: #fffde7;
  $accent-text-color-50: #000000;
  $accent-color-100: #fff9c4;
  $accent-text-color-100: #000000;
  $accent-color-200: #fff59d;
  $accent-text-color-200: #000000;
  $accent-color-300: #fff176;
  $accent-text-color-300: #000000;
  $accent-color-400: #ffee58;
  $accent-text-color-400: #000000;
  $accent-color-500: #ffeb3b;
  $accent-text-color-500: #000000;
  $accent-color-600: #fdd835;
  $accent-text-color-600: #000000;
  $accent-color-700: #fbc02d;
  $accent-text-color-700: #000000;
  $accent-color-800: #f9a825;
  $accent-text-color-800: #000000;
  $accent-color-900: #f57f17;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ffff8d;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ffff00;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #ffea00;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #ffd600;
  $accent-text-color-A700: #000000;
}


// Color: amber

$amber-color-50: #fff8e1;
$amber-text-color-50: #000000;
$amber-color-100: #ffecb3;
$amber-text-color-100: #000000;
$amber-color-200: #ffe082;
$amber-text-color-200: #000000;
$amber-color-300: #ffd54f;
$amber-text-color-300: #000000;
$amber-color-400: #ffca28;
$amber-text-color-400: #000000;
$amber-color-500: #ffc107;
$amber-text-color-500: #000000;
$amber-color-600: #ffb300;
$amber-text-color-600: #000000;
$amber-color-700: #ffa000;
$amber-text-color-700: #FFFFFF;
$amber-color-800: #ff8f00;
$amber-text-color-800: #FFFFFF;
$amber-color-900: #ff6f00;
$amber-text-color-900: #FFFFFF;
$amber-color-A100: #ffe57f;
$amber-text-color-A100: #000000;
$amber-color-A200: #ffd740;
$amber-text-color-A200: #000000;
$amber-color-A400: #ffc400;
$amber-text-color-A400: #000000;
$amber-color-A700: #ffab00;
$amber-text-color-A700: #000000;
@if $primary-color-name == "amber" {
  $primary-color-50: #fff8e1;
  $primary-text-color-50: #000000;
  $primary-color-100: #ffecb3;
  $primary-text-color-100: #000000;
  $primary-color-200: #ffe082;
  $primary-text-color-200: #000000;
  $primary-color-300: #ffd54f;
  $primary-text-color-300: #000000;
  $primary-color-400: #ffca28;
  $primary-text-color-400: #000000;
  $primary-color-500: #ffc107;
  $primary-text-color-500: #000000;
  $primary-color-600: #ffb300;
  $primary-text-color-600: #000000;
  $primary-color-700: #ffa000;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #ff8f00;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #ff6f00;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ffe57f;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ffd740;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #ffc400;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #ffab00;
  $primary-text-color-A700: #000000;
}
@if $accent-color-name == "amber" {
  $accent-color-50: #fff8e1;
  $accent-text-color-50: #000000;
  $accent-color-100: #ffecb3;
  $accent-text-color-100: #000000;
  $accent-color-200: #ffe082;
  $accent-text-color-200: #000000;
  $accent-color-300: #ffd54f;
  $accent-text-color-300: #000000;
  $accent-color-400: #ffca28;
  $accent-text-color-400: #000000;
  $accent-color-500: #ffc107;
  $accent-text-color-500: #000000;
  $accent-color-600: #ffb300;
  $accent-text-color-600: #000000;
  $accent-color-700: #ffa000;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #ff8f00;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #ff6f00;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ffe57f;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ffd740;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #ffc400;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #ffab00;
  $accent-text-color-A700: #000000;
}


// Color: orange

$orange-color-50: #fff3e0;
$orange-text-color-50: #000000;
$orange-color-100: #ffe0b2;
$orange-text-color-100: #000000;
$orange-color-200: #ffcc80;
$orange-text-color-200: #000000;
$orange-color-300: #ffb74d;
$orange-text-color-300: #000000;
$orange-color-400: #ffa726;
$orange-text-color-400: #000000;
$orange-color-500: #ff9800;
$orange-text-color-500: #FFFFFF;
$orange-color-600: #fb8c00;
$orange-text-color-600: #FFFFFF;
$orange-color-700: #f57c00;
$orange-text-color-700: #FFFFFF;
$orange-color-800: #ef6c00;
$orange-text-color-800: #FFFFFF;
$orange-color-900: #e65100;
$orange-text-color-900: #FFFFFF;
$orange-color-A100: #ffd180;
$orange-text-color-A100: #000000;
$orange-color-A200: #ffab40;
$orange-text-color-A200: #000000;
$orange-color-A400: #ff9100;
$orange-text-color-A400: #000000;
$orange-color-A700: #ff6d00;
$orange-text-color-A700: #FFFFFF;
@if $primary-color-name == "orange" {
  $primary-color-50: #fff3e0;
  $primary-text-color-50: #000000;
  $primary-color-100: #ffe0b2;
  $primary-text-color-100: #000000;
  $primary-color-200: #ffcc80;
  $primary-text-color-200: #000000;
  $primary-color-300: #ffb74d;
  $primary-text-color-300: #000000;
  $primary-color-400: #ffa726;
  $primary-text-color-400: #000000;
  $primary-color-500: #ff9800;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #fb8c00;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #f57c00;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #ef6c00;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #e65100;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ffd180;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ffab40;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #ff9100;
  $primary-text-color-A400: #000000;
  $primary-color-A700: #ff6d00;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "orange" {
  $accent-color-50: #fff3e0;
  $accent-text-color-50: #000000;
  $accent-color-100: #ffe0b2;
  $accent-text-color-100: #000000;
  $accent-color-200: #ffcc80;
  $accent-text-color-200: #000000;
  $accent-color-300: #ffb74d;
  $accent-text-color-300: #000000;
  $accent-color-400: #ffa726;
  $accent-text-color-400: #000000;
  $accent-color-500: #ff9800;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #fb8c00;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #f57c00;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #ef6c00;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #e65100;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ffd180;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ffab40;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #ff9100;
  $accent-text-color-A400: #000000;
  $accent-color-A700: #ff6d00;
  $accent-text-color-A700: #FFFFFF;
}


// Color: deeporange

$deeporange-color-50: #fbe9e7;
$deeporange-text-color-50: #000000;
$deeporange-color-100: #ffccbc;
$deeporange-text-color-100: #000000;
$deeporange-color-200: #ffab91;
$deeporange-text-color-200: #000000;
$deeporange-color-300: #ff8a65;
$deeporange-text-color-300: #000000;
$deeporange-color-400: #ff7043;
$deeporange-text-color-400: #000000;
$deeporange-color-500: #ff5722;
$deeporange-text-color-500: #FFFFFF;
$deeporange-color-600: #f4511e;
$deeporange-text-color-600: #FFFFFF;
$deeporange-color-700: #e64a19;
$deeporange-text-color-700: #FFFFFF;
$deeporange-color-800: #d84315;
$deeporange-text-color-800: #FFFFFF;
$deeporange-color-900: #bf360c;
$deeporange-text-color-900: #FFFFFF;
$deeporange-color-A100: #ff9e80;
$deeporange-text-color-A100: #000000;
$deeporange-color-A200: #ff6e40;
$deeporange-text-color-A200: #000000;
$deeporange-color-A400: #ff3d00;
$deeporange-text-color-A400: #FFFFFF;
$deeporange-color-A700: #dd2c00;
$deeporange-text-color-A700: #FFFFFF;
@if $primary-color-name == "deeporange" {
  $primary-color-50: #fbe9e7;
  $primary-text-color-50: #000000;
  $primary-color-100: #ffccbc;
  $primary-text-color-100: #000000;
  $primary-color-200: #ffab91;
  $primary-text-color-200: #000000;
  $primary-color-300: #ff8a65;
  $primary-text-color-300: #000000;
  $primary-color-400: #ff7043;
  $primary-text-color-400: #000000;
  $primary-color-500: #ff5722;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #f4511e;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #e64a19;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #d84315;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #bf360c;
  $primary-text-color-900: #FFFFFF;
  $primary-color-A100: #ff9e80;
  $primary-text-color-A100: #000000;
  $primary-color-A200: #ff6e40;
  $primary-text-color-A200: #000000;
  $primary-color-A400: #ff3d00;
  $primary-text-color-A400: #FFFFFF;
  $primary-color-A700: #dd2c00;
  $primary-text-color-A700: #FFFFFF;
}
@if $accent-color-name == "deeporange" {
  $accent-color-50: #fbe9e7;
  $accent-text-color-50: #000000;
  $accent-color-100: #ffccbc;
  $accent-text-color-100: #000000;
  $accent-color-200: #ffab91;
  $accent-text-color-200: #000000;
  $accent-color-300: #ff8a65;
  $accent-text-color-300: #000000;
  $accent-color-400: #ff7043;
  $accent-text-color-400: #000000;
  $accent-color-500: #ff5722;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #f4511e;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #e64a19;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #d84315;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #bf360c;
  $accent-text-color-900: #FFFFFF;
  $accent-color-A100: #ff9e80;
  $accent-text-color-A100: #000000;
  $accent-color-A200: #ff6e40;
  $accent-text-color-A200: #000000;
  $accent-color-A400: #ff3d00;
  $accent-text-color-A400: #FFFFFF;
  $accent-color-A700: #dd2c00;
  $accent-text-color-A700: #FFFFFF;
}


// Color: brown

$brown-color-50: #efebe9;
$brown-text-color-50: #000000;
$brown-color-100: #d7ccc8;
$brown-text-color-100: #000000;
$brown-color-200: #bcaaa4;
$brown-text-color-200: #000000;
$brown-color-300: #a1887f;
$brown-text-color-300: #FFFFFF;
$brown-color-400: #8d6e63;
$brown-text-color-400: #FFFFFF;
$brown-color-500: #795548;
$brown-text-color-500: #FFFFFF;
$brown-color-600: #6d4c41;
$brown-text-color-600: #FFFFFF;
$brown-color-700: #5d4037;
$brown-text-color-700: #FFFFFF;
$brown-color-800: #4e342e;
$brown-text-color-800: #FFFFFF;
$brown-color-900: #3e2723;
$brown-text-color-900: #FFFFFF;
@if $primary-color-name == "brown" {
  $primary-color-50: #efebe9;
  $primary-text-color-50: #000000;
  $primary-color-100: #d7ccc8;
  $primary-text-color-100: #000000;
  $primary-color-200: #bcaaa4;
  $primary-text-color-200: #000000;
  $primary-color-300: #a1887f;
  $primary-text-color-300: #FFFFFF;
  $primary-color-400: #8d6e63;
  $primary-text-color-400: #FFFFFF;
  $primary-color-500: #795548;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #6d4c41;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #5d4037;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #4e342e;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #3e2723;
  $primary-text-color-900: #FFFFFF;
}
@if $accent-color-name == "brown" {
  $accent-color-50: #efebe9;
  $accent-text-color-50: #000000;
  $accent-color-100: #d7ccc8;
  $accent-text-color-100: #000000;
  $accent-color-200: #bcaaa4;
  $accent-text-color-200: #000000;
  $accent-color-300: #a1887f;
  $accent-text-color-300: #FFFFFF;
  $accent-color-400: #8d6e63;
  $accent-text-color-400: #FFFFFF;
  $accent-color-500: #795548;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #6d4c41;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #5d4037;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #4e342e;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #3e2723;
  $accent-text-color-900: #FFFFFF;
}


// Color: grey

$grey-color-50: #fafafa;
$grey-text-color-50: #000000;
$grey-color-100: #f5f5f5;
$grey-text-color-100: #000000;
$grey-color-200: #eeeeee;
$grey-text-color-200: #000000;
$grey-color-300: #e0e0e0;
$grey-text-color-300: #000000;
$grey-color-400: #bdbdbd;
$grey-text-color-400: #000000;
$grey-color-500: #9e9e9e;
$grey-text-color-500: #FFFFFF;
$grey-color-600: #757575;
$grey-text-color-600: #FFFFFF;
$grey-color-700: #616161;
$grey-text-color-700: #FFFFFF;
$grey-color-800: #424242;
$grey-text-color-800: #FFFFFF;
$grey-color-900: #212121;
$grey-text-color-900: #FFFFFF;
@if $primary-color-name == "grey" {
  $primary-color-50: #fafafa;
  $primary-text-color-50: #000000;
  $primary-color-100: #f5f5f5;
  $primary-text-color-100: #000000;
  $primary-color-200: #eeeeee;
  $primary-text-color-200: #000000;
  $primary-color-300: #e0e0e0;
  $primary-text-color-300: #000000;
  $primary-color-400: #bdbdbd;
  $primary-text-color-400: #000000;
  $primary-color-500: #9e9e9e;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #757575;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #616161;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #424242;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #212121;
  $primary-text-color-900: #FFFFFF;
}
@if $accent-color-name == "grey" {
  $accent-color-50: #fafafa;
  $accent-text-color-50: #000000;
  $accent-color-100: #f5f5f5;
  $accent-text-color-100: #000000;
  $accent-color-200: #eeeeee;
  $accent-text-color-200: #000000;
  $accent-color-300: #e0e0e0;
  $accent-text-color-300: #000000;
  $accent-color-400: #bdbdbd;
  $accent-text-color-400: #000000;
  $accent-color-500: #9e9e9e;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #757575;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #616161;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #424242;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #212121;
  $accent-text-color-900: #FFFFFF;
}


// Color: bluegrey

$bluegrey-color-50: #eceff1;
$bluegrey-text-color-50: #000000;
$bluegrey-color-100: #cfd8dc;
$bluegrey-text-color-100: #000000;
$bluegrey-color-200: #b0bec5;
$bluegrey-text-color-200: #000000;
$bluegrey-color-300: #90a4ae;
$bluegrey-text-color-300: #000000;
$bluegrey-color-400: #78909c;
$bluegrey-text-color-400: #FFFFFF;
$bluegrey-color-500: #607d8b;
$bluegrey-text-color-500: #FFFFFF;
$bluegrey-color-600: #546e7a;
$bluegrey-text-color-600: #FFFFFF;
$bluegrey-color-700: #455a64;
$bluegrey-text-color-700: #FFFFFF;
$bluegrey-color-800: #37474f;
$bluegrey-text-color-800: #FFFFFF;
$bluegrey-color-900: #263238;
$bluegrey-text-color-900: #FFFFFF;
@if $primary-color-name == "bluegrey" {
  $primary-color-50: #eceff1;
  $primary-text-color-50: #000000;
  $primary-color-100: #cfd8dc;
  $primary-text-color-100: #000000;
  $primary-color-200: #b0bec5;
  $primary-text-color-200: #000000;
  $primary-color-300: #90a4ae;
  $primary-text-color-300: #000000;
  $primary-color-400: #78909c;
  $primary-text-color-400: #FFFFFF;
  $primary-color-500: #607d8b;
  $primary-text-color-500: #FFFFFF;
  $primary-color-600: #546e7a;
  $primary-text-color-600: #FFFFFF;
  $primary-color-700: #455a64;
  $primary-text-color-700: #FFFFFF;
  $primary-color-800: #37474f;
  $primary-text-color-800: #FFFFFF;
  $primary-color-900: #263238;
  $primary-text-color-900: #FFFFFF;
}
@if $accent-color-name == "bluegrey" {
  $accent-color-50: #eceff1;
  $accent-text-color-50: #000000;
  $accent-color-100: #cfd8dc;
  $accent-text-color-100: #000000;
  $accent-color-200: #b0bec5;
  $accent-text-color-200: #000000;
  $accent-color-300: #90a4ae;
  $accent-text-color-300: #000000;
  $accent-color-400: #78909c;
  $accent-text-color-400: #FFFFFF;
  $accent-color-500: #607d8b;
  $accent-text-color-500: #FFFFFF;
  $accent-color-600: #546e7a;
  $accent-text-color-600: #FFFFFF;
  $accent-color-700: #455a64;
  $accent-text-color-700: #FFFFFF;
  $accent-color-800: #37474f;
  $accent-text-color-800: #FFFFFF;
  $accent-color-900: #263238;
  $accent-text-color-900: #FFFFFF;
}